.settings-small-text {
    font-size: 0.8em;
    margin-left: 1.5em;
    margin-top: 0;
    margin-top: 0.2em;
}

.settings-header {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}